footer {
  @include y-centered;
  @include window;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: space-around;
  padding: 0.7rem 0;
  width: 100%;
  .selected {
    color: $red;
  }
}
