#graphic-combination {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1px;
  .figure {
    background: black;
    height: clamp(2rem, 8vw, 5rem);
    width: clamp(2rem, 8vw, 5rem);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: clamp(1px, 0.3vw, 2.5px);
    border: clamp(1px, 0.3vw, 2.5px) solid black;
    border-radius: clamp(2px, 0.6vw, 5px);
  }
  .square {
    border-radius: clamp(1px, 0.3vw, 2.5px);
  }
  #top {
    grid-column: 2/3;
  }
  #left {
    grid-column: 1/2;
  }
  #bottom {
    grid-column: 2/3;
  }
}

.white {
  background: white;
}
.yellow {
  background: #f2f215;
}
.blue {
  background: #1c5ffe;
}
.green {
  background: #58d568;
}
.red {
  background: #ed3030;
}
.orange {
  background: #e89e15;
}
