#graphic-combination {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1px;
  .figure {
    background: black;
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px;
    border: 1px solid black;
    border-radius: 1px;
  }
  #top {
    grid-column: 2/3;
  }
  #left {
    grid-column: 1/2;
  }
  #bottom {
    grid-column: 2/3;
  }
}

.white {
  background: white;
}
.yellow {
  background: #f2f215;
}
.blue {
  background: #2e44f0;
}
.green {
  background: #00d140;
}
.red {
  background: #de0500;
}
.orange {
  background: #fd9029;
}
