#graphic-combination {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1px;
  .figure {
    background: black;
    height: 30px;
    width: 30px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px;
    border: 1px solid black;
    border-radius: 2px;
  }
  .square {
    border-radius: 1px;
  }
  #top {
    grid-column: 2/3;
  }
  #left {
    grid-column: 1/2;
  }
  #bottom {
    grid-column: 2/3;
  }
}

.white {
  background: white;
}
.yellow {
  background: #f2f215;
}
.blue {
  background: #1c5ffe;
}
.green {
  background: #58d568;
}
.red {
  background: #ed3030;
}
.orange {
  background: #e89e15;
}
