header {
  @include y-centered-x-space-between;
  @include window;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  #game-mode {
    @include flexed-column;
    select {
      color: $red;
      background: none;
      border: none;
      font-weight: bold;
      font-size: 1.2rem;
      outline: none;
      cursor: pointer;
      padding: 0 1rem;
    }
    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}
