@import "graphic-combination";

main {
  @include x-centered-y-space-between-flexed-column;
  flex-grow: 1;
  padding: 1rem 2rem;
  #combination-article {
    @include flexed-column;
    width: 100%;
    align-items: flex-end;
    #combination {
      width: 100%;
      text-align: center;
      font-size: clamp(1rem, 5vw, 3rem);
    }
    nav {
      @include y-centered-x-space-between;
      margin-top: 1rem;
      width: 130px;
    }
  }
  #timer {
    @include x-y-centered;
    flex-grow: 1;
    width: 100%;
    font-size: clamp(2rem, 15vw, 5rem);
    font-weight: bold;
    span {
      font-size: clamp(3rem, 22.5vw, 7.5rem);
    }
  }
  #data {
    @include y-centered-x-space-between;
    width: 100%;
    section {
      &:first-child {
        margin-left: -1rem;
      }
      &:nth-child(2n + 1) {
        font-size: clamp(0.5rem, 3.5vw, 2rem);
      }
      &:last-child {
        margin-right: -1rem;
        text-align: right;
      }
    }
  }
}
