@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "footer";

:root {
  color: $red;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  @include flexed-column;
  background: linear-gradient($lightblue, $seagreen);
  height: 100vh;
}

i {
  cursor: pointer;
  font-size: 1.3rem;
}
