header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 240, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
}

header #game-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #game-mode select {
  color: #f0264c;
  background: none;
  border: none;
  font-weight: bold;
  font-size: clamp(1rem, 8vw, 3rem);
  outline: none;
  cursor: pointer;
  padding: 0 1rem;
}

header #game-mode p {
  text-align: center;
  font-size: clamp(0.5rem, 3vw, 2rem);
  margin-bottom: -0.5rem;
}

#graphic-combination {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  gap: 1px;
}

#graphic-combination .figure {
  background: black;
  height: clamp(2rem, 8vw, 5rem);
  width: clamp(2rem, 8vw, 5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: clamp(1px, 0.3vw, 2.5px);
  border: clamp(1px, 0.3vw, 2.5px) solid black;
  border-radius: clamp(2px, 0.6vw, 5px);
}

#graphic-combination .square {
  border-radius: clamp(1px, 0.3vw, 2.5px);
}

#graphic-combination #top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#graphic-combination #left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#graphic-combination #bottom {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.white {
  background: white;
}

.yellow {
  background: #f2f215;
}

.blue {
  background: #1c5ffe;
}

.green {
  background: #58d568;
}

.red {
  background: #ed3030;
}

.orange {
  background: #e89e15;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 2rem;
}

main #combination-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main #combination-article #combination {
  text-align: center;
  font-size: clamp(1rem, 5vw, 3rem);
}

main #combination-article nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  width: 130px;
}

main #timer {
  font-size: clamp(2rem, 15vw, 5rem);
  font-weight: bold;
}

main #timer span {
  font-size: clamp(3rem, 22.5vw, 7.5rem);
}

main #data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main #data section:first-child {
  margin-left: -1rem;
}

main #data section:nth-child(2n + 1) {
  font-size: clamp(0.5rem, 3.5vw, 2rem);
}

main #data section:last-child {
  margin-right: -1rem;
  text-align: right;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 240, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
  width: 100%;
}

footer .selected {
  color: #f0264c;
}

:root {
  color: #f0264c;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#3afbf8), to(#32f7c9));
  background: linear-gradient(#3afbf8, #32f7c9);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

i {
  cursor: pointer;
  font-size: clamp(0.5rem, 7vw, 3rem);
}
/*# sourceMappingURL=style.css.map */